{% extends "base.html" %}
{% load static %}

{% block layout %}
<div {% block attrs %}id="account"{% endblock %} class="bg-white text-black min-h-[100dvh] grid grid-rows-[auto_1fr_auto]">

    <header class="sticky top-0 z-10">
        <div class="bg-white h-[60px] flex items-center px-2.5">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/3k_v.2.2.5.png' %}">
            </a>
        </div>
    </header>

    <main class="w-[500px] mx-auto pt-16 px-6">
    {% block content %}
    {% endblock %}
    </main>

    <footer>
        
        {% block terms %}{% endblock %}

        {% block has_account %}{% endblock %}

        <div class="bg-black text-neutral-400 h-21 flex items-center justify-end px-36 text-sm">
            <p>©2026  KokKokKok v.2.2.5</p>
        </div>
    </footer> 

</div>
{% endblock %}    
