{% load static %}
<div id="scrollContainer" class="h-full px-18 snap-mandatory snap-y overflow-y-scroll hide-scrollbar">

    {% include "a_posts/partials/_posts.html" %}

    {% if posts %}
    <scroll-bar class="fixed right-0 top-0 w-16 h-full hidden md:flex items-center">
        <div class="flex flex-col gap-4">
            <button id="scrollUp" @click="scrollButton('up')" class="size-12 rounded-full bg-neutral-100 dark:bg-neutral-800 hover:bg-neutral-200 dark:hover:bg-neutral-700 flex items-center justify-center opacity-0 pointer-events-none">
                <div class="size-6">
                    <svg viewBox="0 0 48 48">
                        <path d="m24 20.24 13.17 13.17a1 1 0 0 0 1.42 0l2.82-2.82a1 1 0 0 0 0-1.42L25.06 12.82a1.5 1.5 0 0 0-2.12 0L6.59 29.17a1 1 0 0 0 0 1.42L9.4 33.4a1 1 0 0 0 1.42 0L24 20.24Z"></path>
                    </svg>
                </div>
            </button>
            <button @click="scrollButton('down')" class="size-12 rounded-full bg-neutral-100 dark:bg-neutral-800 hover:bg-neutral-200 dark:hover:bg-neutral-700 flex items-center justify-center">
                <div class="size-6">
                    <svg viewBox="0 0 48 48">
                        <path d="m24 27.76 13.17-13.17a1 1 0 0 1 1.42 0l2.82 2.82a1 1 0 0 1 0 1.42L25.06 35.18a1.5 1.5 0 0 1-2.12 0L6.59 18.83a1 1 0 0 1 0-1.42L9.4 14.6a1 1 0 0 1 1.42 0L24 27.76Z"></path>
                    </svg>
                </div>
            </button>
        </div>
    </scroll-bar>
    {% endif %}
    
</div>

<script>

    function scrollLogic() {

        // hide and show first scrollUp button 
        const scrollContainer = document.getElementById('scrollContainer');
        const scrollButton = document.getElementById('scrollUp');

        scrollContainer.addEventListener('scroll', () => {
            if (scrollContainer.scrollTop > 10) {
                scrollButton.classList.remove('opacity-0', 'pointer-events-none');
            } else {
                scrollButton.classList.add('opacity-0', 'pointer-events-none');
            }
        });

        // up & down button scroll
        window.scrollButton = function(direction) {
            let articles = [...document.querySelectorAll('article')];
            const current = articles.find(el => el.getBoundingClientRect().top >= 0);
            if (!current) return;
            const index = +current.dataset.index;
            const target = articles[direction === 'down' ? index + 1 : index - 1];
            if (target) {
                target.scrollIntoView({ behavior: 'smooth', block: 'start' });
            }
        };

    }

    document.addEventListener('DOMContentLoaded', scrollLogic);
    document.body.addEventListener('htmx:afterSwap', scrollLogic);

</script>

{% if request.htmx %}
<title hx-swap-oob="true">KokKokKok</title>

<div hx-swap-oob="innerHTML" id="navigation">
    {% include "includes/navigation.html" %}
</div>
{% endif %}
